/* .logo-section {
    background: #fbffd0;
    background: linear-gradient(90deg, #fbffd0 0%, #d6eba5 100%);
    padding: 40px;
    width: 100%;
    margin: auto;
    text-align: center;
    position: relative
} */

.navbar {
    background-color: transparent;
}

.nav-link .navLink .active {
    /* color: #283618 !important; */
    color: #BC6C25 !important;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* .logo-section img {
    height: 200px;
    width: 200px;
} */

.title-section {
    background-color: rgb(40, 54, 24);
    color: white;
    padding: 30px;
    width: 100%;
    margin: auto;
    text-align: center;
}


/* .customNavbar {
    background-color: #FEFAE0;
    transition: background-color 0.5s ease;
    box-shadow: 7px 7px 15px rgba(105, 105, 105, 0.5);

} */

.customNavbar {
    background-color: #FEFAE0;
    transition: background-color 0.5s ease;
    box-shadow: 7px 7px 15px rgba(105, 105, 105, 0.5);
}

.navbarLogo img {
    height: 80px;
    padding-bottom: 5px;
    margin-left: 20px;
    width: auto;
    transition: transform 0.3s ease;
}

@media (max-width: 767px) {
    .navbarLogo img {
        height: 60px;
        margin-left: 10px;
    }
}

@media (max-width: 576px) {
    .navbarLogo img {
        height: 55px;
        margin-left: 5px;
    }
}

.navbarLogo img:hover {
    transform: scale(1.1);
}

.navbarNav {
    margin-right: 15px;
}

.navbarNav .navLink {
    color: #606C38;
    font-weight: 500;
    text-align: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbarNav .navLink:hover {
    color: #BC6C25 !important;
    transform: translateY(-2px);
    text-decoration: underline;
    text-underline-offset: 5px;
}

@media (max-width: 767px) {
    #navbarToggleBurger {
        width: 28px;
    }
}

#navbarToggleBurger {
    width: 30px;
    transition: opacity 0.15s ease, transform 0.15s ease;
}
@media (max-width: 576px) {
    #navbarToggleBurger {
        width: 25px;
    }
}
.navbar-toggler:focus {
    border: 0 !important;
    box-shadow: none !important;
}

.navbar-toggler {
    border: 0 !important;
}

.navFadeOut {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.2s, transform 0.2s;
} 

.navFadeIn {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.2s, transform 0.2s;
}

.nav-link {
    padding-left: 15px !important;
    color: #333;
    text-decoration: none;
}

.navLink:hover {
    color: #5a7c5e;
}

.navLink.active {
    color: #BC6C25 !important;
    text-decoration: underline;
    text-underline-offset: 5px;
} 

.btn {
    padding: 16px 32px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin: 12px 12px; /*use margin to change positioning of button (only if need) */
}
