*{
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body .bannerTitles {
    padding-top: 20px !important;
}


.donationWrapper {
    display: flex;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    padding: 60px;
    border: 1px solid rgba(255, 255, 255, 0);
    box-shadow: 0 20px 60px rgba(0,0,0,0.3);
    
}

.donationWrapper .helpColumn {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.donationWrapper .helpColumn .helpButton {
    margin-top: auto;
    align-self: flex-start;
}

.helpTitle {
    font-size: 48px;
    font-weight: 600;
    color: #285436;
    margin-top: 20px;
}

.helpDescription {
    font-size: 18px;
    line-height: 1.8;
    color: #285436;
}
.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.carousel-wrapper,
.carousel-container {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
}

.about-image {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

/* Inside your <style scoped> block */
.collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

.collapse-content.visible {
    max-height: 700px;
    /* Needs to be larger than the content */
}



.testimonial-slider {
    display: flex;
    overflow-x: scroll;
    padding: 50px 0;
    gap: 20px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

.testimonial-slider {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 50px 0;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}


.testimonial-slider::-webkit-scrollbar {
    display: none;
}

.testimonial-slider {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* INDIVIDUAL CARDS */
.testimonial-card {
    flex: 0 0 80vw;
    max-width: 350px;
    height: auto;
    background-color: #fcfcfc;
    border-radius: 20px;
    padding: 30px;
    scroll-snap-align: center;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.05);
    text-align: center;
    transition: transform 0.3s ease;
}

/* --- 3. CENTERED CARD STYLES --- */
.centered-card {
    background-color: #fefefe;
}

/* Avatar and Text Styling */
.avatar-container {
    padding-bottom: 10px;
}

.avatar-img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.name {
    font-size: 1.2em;
    font-weight: 600;
    margin: 5px 0 5px 0;
}

.check-mark {
    color: #285436;
    font-size: 1.5em;
    display: block;
    margin-bottom: 15px;
}

.quote {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
}